@{ 
    ViewData["Title"] = "Questions";
}
@model QuesAns.Areas.Student.Models.QuestionVM

@{
    var questions = Model.Questions;

    if (questions.Count > 0)
    {
        foreach (var question in questions)
        {
            <div class="card-body">
                <div class="callout callout-info">
                    <a style="text-decoration: none;" href="/Student/Operation/ProvideAnswer?questionId=@question.Id"><h5><b>Q: @question.QuesTitle</b></h5></a>
                    <span>@question.QuesBy.UserName</span><br />
                    <span>@question.QuesTime</span>
                    <hr />
                    <p>@question.QuesDescription</p>
                </div>
            </div>
        }
        }
        else
        {
            <div>
                <h2>No Question was submitted by student</h2>
            </div>
        }

}