@model QuesAns.Models.AccountModels.UserVM
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<h2 style="color: blue" >
    @ViewBag.Msg
</h2>

<div class="row">
    <div class="col-md-4">
        <form id="userRegForm" method="post">
            <h4>Create a new account.</h4>
            <hr />
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <label>First Name *</label>
                <input asp-for="FirstName" class="form-control" />
                <span id="firstNameValidation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label>User Name *</label>
                <input asp-for="UserName" class="form-control" />
                <span id="userNameValidation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Email *</label>
                <input asp-for="Email" class="form-control" />
                <span id="emailValidation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Institute Name *</label>
                <input asp-for="InstituteName" class="form-control" />
                <span id="instituteNameValidation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Institute Id</label>
                <input asp-for="InstituteId" class="form-control" />
            </div>

            <div class="form-group">
                <label>User Type *</label>
                <select asp-for="UserType" asp-items="@Model.UserTypeLookup" class="form-control dd-type"></select>
                <span id="userTypeValidation" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label>Password *</label>
                <input type="password" asp-for="PasswordHash" class="form-control" />
                <span id="passwordValidation" class="text-danger"></span>
            </div>

            <button type="button" id="userRegSubBtn" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

<script>
    $(document.body).on('click', '#userRegSubBtn', function () {
        startFormPosting('#userRegForm');
    })

    $(document.body).on('change', '#UserType', function () {
        $('#userTypeValidation').text('');
    })

    let typingTimer;
    let isValid = true;
    $('#Email').on('keyup', function () {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(checkProductAvailablity, 800);
    })

    function checkProductAvailablity() {
        let email = $("#Email").val();

        const url = '/Account/CheckExistingUser';

        if (email != ``) {
            $.get(url, { userEmail: email }, function (rData) {
                console.log(rData);
                if (rData == true) {
                    isValid = false;
                    $('#emailValidation').text("Email already exist");
                } else {
                    isValid = true;
                    $('#emailValidation').text("");
                }
            })
        }
    }

    function startFormPosting(formId) {

        let firstName = $('#FirstName').val();
        let userName = $('#UserName').val();
        let email = $('#Email').val();
        let isntName = $('#InstituteName').val();
        let userType = $('#UserType').val();
        
        if (firstName == '') {
            isValid = false;
            $('#firstNameValidation').text("Please provide your First Name");
        } else {
            isValid = true;
        }
        if (userName == '') {
            isValid = false;
            $('#userNameValidation').text("Please provide a User Name");
        } else {
            isValid = true;
        }
        if (email == '') {
            isValid = false;
            $('#emailValidation').text("Please provide Email");
        } else {
            isValid = true;
        }
        
        if (isntName == '') {
            isValid = false;
            $('#instituteNameValidation').text("Please provide your Institute Name");
        } else {
            isValid = true;
        }
        if (userType == '--Select User Type--') {
            isValid = false;
            $('#userTypeValidation').text("Please select a User Type");
        } else {
            isValid = true;
        }

        if (isValid) {
            $(formId).submit();
        }
    }

</script>
}
