@model QuesAns.Models.AccountModels.UserVM
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<h2 style="color: blue" >
    @ViewBag.Msg
</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Account" asp-action="Register">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>First Name *</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>User Name *</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Institute Name *</label>
                <input asp-for="InstituteName" class="form-control" />
                <span asp-validation-for="InstituteName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Institute Id</label>
                <input asp-for="InstituteId" class="form-control" />
                <span asp-validation-for="InstituteId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>User Type *</label>
                <input asp-for="UserType" class="form-control" />
                <span asp-validation-for="UserType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Password *</label>
                <input type="password" asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>


            @*<div class="form-group">
            <label asp-for="PasswordHash"></label>
            <input type="checkbox" asp-for="PasswordHash" class="form-control" />
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>*@

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
